**/__pycache__
.idea/
**/.DS_STORE
**/log
**/build
**/dist
**/*.egg-info
**/*.txt
**/.vscode
**/_log
walker2d-medium-expert-v2_sparse3
hopper-medium-expert-v2_sparse3
halfcheetah-medium-expert-v2_sparse3